<div class="nav bg-main">
    <div class="nav-container">
        <div class="brand-text">Math Lab</div>
        <div class="links">
            <a href="" class="link">Головна</a>
            <a href="/Learning" class="link">Навчання</a>
            <a href="/Training" class="link">Тренування</a>
            <a href="" class="link">Регістрація/Вхід</a>
        </div>
    </div>
</div>